@import "../stylesheets/fastmenu.css";
@import "../stylesheets/footer.css";


body{
    font-family: "Lato", sans-serif;
    color: var(--color-text-1);
    background: var(--website-bg);

}
h2 {
    color: var(--color-headings);
    margin-bottom: 15px;
}

.pimg1,
.pimg2,
.pimg3 {
    position: relative;
    opacity: .7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.border {
    -webkit-box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.75);
}

.pimg1 {
    background-image: url("../img/background/image1.svg");
    height: 200px;
}

.pimg2 {
    background-image: url("../img/background/image2.svg");
    min-height: 200px;
}

.pimg3 {
    background-image: url("../img/background/image3.svg");
    min-height: 200px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section p {
    letter-spacing: 1px;
    line-height: 140%;
    word-spacing: 2px;
}

.section-light {
    background: var(--bg-body);
    color: var(--color-text-1);
}

.section-dark {
    background: #161313;
    color: var(--color-text-2);
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: var(--color-text-1);
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background: var(--website-bg);
    color: var(--color-text-2);
    padding: 20px;
}

.ptext .border.trans {
    background-color: transparent;
}

@media(max-width:490px) {
    .pimg1,
    .pimg2,
    .pimg3 {
        background-attachment: scroll;
    }
}