@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

html {
    --bg-body: #ebebeb;
    --bg: #fcfcfc;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --color-headings: #07f;
    --color-headings-footer: #4694ee;
    --color-text-1: #333;
    --color-text-2: white;
    --website-bg: -webkit-gradient(linear, left top, right bottom, from(rgba(179, 165, 42, 0.8)), to(rgba(226, 118, 17, 0.8)));
    --btn: linear-gradient(rgba(255, 92, 17, 0.8), rgba(231, 235, 19, 0.801));
}
.center{
    text-align: center;
}
#logo {
    height: 100px;
}
.logo-small{
    height: 40px;
}

.main_h {
    position: fixed;
    max-height: 70px;
    z-index: 999;
    width: 100%;
    padding-top: 17px;
    background: none;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    padding-bottom: 6px;
  }
  @media only screen and (max-width: 766px) {
    .main_h {
      padding-top: 25px;
    }
  }
  
  .open-nav {
    max-height: 400px !important;
  }
  .open-nav .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
  
  .sticky {
    background-color: #fff;
    opacity: 1;
    top: 0px;
    border-bottom: 1px solid gainsboro;
  }
  
  .logo {
    width: 50px;
    font-size: 25px;
    color: #8f8f8f;
    text-transform: uppercase;
    float: left;
    display: block;
    margin-top: 0;
    line-height: 1;
    margin-bottom: 10px;
  }
  @media only screen and (max-width: 766px) {
    .logo {
      float: none;
    }
  }
  
  nav {
    float: right;
    width: 94%;
  }
  @media only screen and (max-width: 766px) {
    nav {
      width: 100%;
    }
  }
  nav ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;

  }
  @media only screen and (max-width: 766px) {
    nav ul {
      padding-top: 10px;
      margin-bottom: 22px;
      float: left;
      text-align: center;
      width: 100%;
    }
  }
  nav ul li {
    display: inline-block;
    margin-left: 35px;
    line-height: 1.5;
  }
  @media only screen and (max-width: 766px) {
    nav ul li {
      width: 100%;
      padding: 7px 0;
      margin: 0;
    }
  }
  nav ul a {
    color: #888888;
    text-transform: uppercase;
    padding: 10px 4px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;

    font-size: 12px;
    -webkit-transition: all 0.5s;

    transition: all 0.5s;
  }
  nav ul a:hover {
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
  
    padding: 10px 4px;
    background: black;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    color: white;
  
  
  }
  
  .mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 0;
    width: 30px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
  }
  @media only screen and (max-width: 766px) {
    .mobile-toggle {
      display: block;
    }
  }
  .mobile-toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: #8f8f8f;
    display: block;
  }
  
  .row {
    margin: 0 auto;
    position: relative;
  }
  
  